<footer class="footer">
  <div class="container">
    <div class="social-links">
      <a href="#" class="social-link facebook"><i class="fab fa-facebook-f"></i></a>
      <a href="#" class="social-link instagram"><i class="fab fa-instagram"></i></a>
      <a href="#" class="social-link twitter"><i class="fab fa-twitter"></i></a>
      <a href="#" class="social-link whatsapp"><i class="fab fa-whatsapp"></i></a>
    </div>
    <div class="university">
      <p>UNIVERSIDADE DE RIO VERDE</p>
    </div>
  </div>
</footer>
